/* * {
  justify-content: space-between;
} */

/* input {
  width: 2.5em !important;
  height: 3em !important;
  text-align: center;
  box-shadow: 8px 5px 10px 9px #ae8d9429;
  border-radius: 5rem;
} */
